name: Build and Push Ansible Images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        run: |
          matrix_json='[
            {"tag":"ubuntu2204","python_version":"system"},
            {"tag":"ubuntu2404","python_version":"system"},
            {"tag":"ubuntu","python_version":"system"},
            {"tag":"debian11","python_version":"system"},
            {"tag":"debian12","python_version":"system"},
            {"tag":"debian13","python_version":"3.13"},
            {"tag":"debian","python_version":"3.13"},
            {"tag":"rockylinux8","python_version":"system"},
            {"tag":"rockylinux9","python_version":"system"},
            {"tag":"rockylinux","python_version":"3.13"},
            {"tag":"alpine3.20","python_version":"system"},
            {"tag":"alpine3.21","python_version":"system"},
            {"tag":"alpine3","python_version":"system"}
          ]'
          echo "matrix<<EOF" >> $GITHUB_OUTPUT
          echo "$matrix_json" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  docker-matrix:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU (enable cross-arch emulation)
        uses: docker/setup-qemu-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run custom build script and push
        run: |
          chmod +x build.sh
          PYTHON_VERSION=${{ matrix.python_version }} ./build.sh ${{ matrix.tag }} --push
        env:
          DOCKER_BUILDKIT: 1

  update-readme:
    needs: [setup, docker-matrix]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.setup.outputs.matrix) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Update Docker Hub README for ${{ matrix.tag }}
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/ansible_cicd_${{ matrix.tag }}
          readme-filepath: ./README.md
          short-description: "Ansible CI/CD container for ansible_cicd_${{ matrix.tag }}"
