name: Build and Push Ansible Images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  docker-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag: ubuntu2004
            python_version: system
          - tag: ubuntu2204
            python_version: system
          - tag: ubuntu2404
            python_version: system
          - tag: ubuntu
            python_version: system
          - tag: debian11
            python_version: system
          - tag: debian12
            python_version: system
          - tag: debian13
            python_version: 3.13
          - tag: debian
            python_version: 3.13
          - tag: rockylinux8
            python_version: system
          - tag: rockylinux9
            python_version: 3.13
          - tag: rockylinux
            python_version: 3.13
          - tag: alpine3.20
            python_version: system
          - tag: alpine3.21
            python_version: system
          # - tag: alpine3.22
          #   python_version: system
          - tag: alpine3
            python_version: system
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run custom build script and push
        run: |
          chmod +x build.sh
          PYTHON_VERSION=${{ matrix.python_version }} ./build.sh ${{ matrix.tag }} --push
        env:
          DOCKER_BUILDKIT: 1

  # This needs to be kept in sync with the images build in build.sh!
  update-readme:
    needs: docker-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - ansible_cicd_ubuntu2004
          - ansible_cicd_ubuntu2204
          - ansible_cicd_ubuntu2404
          - ansible_cicd_ubuntu
          - ansible_cicd_debian11
          - ansible_cicd_debian12
          # - ansible_cicd_debian13
          - ansible_cicd_debian
          - ansible_cicd_rockylinux8
          - ansible_cicd_rockylinux9
          - ansible_cicd_rockylinux
          - ansible_cicd_alpine3.20
          - ansible_cicd_alpine3.21
          # - ansible_cicd_alpine3.22
          - ansible_cicd_alpine3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Update Docker Hub README for ${{ matrix.repo }}
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.repo }}
          readme-filepath: ./README.md
          short-description: "Ansible CI/CD container for ${{ matrix.repo }}"
